.post {
	width: 100%;
	max-width: 800px;
}

.post figure {
	margin: 0 0 var(--outsidePadding) 0;
	background-color: var(--white);
	padding: var(--insidePadding);
}

.post figcaption {
	text-align: center;
	padding: var(--insidePadding);
	padding-bottom: 4px;
	font-family: var(--headerFont);
	font-style: italic;
	font-size: 24px;

}