.footer {
  width: 100%;
  height: var(--footerHeight);
	padding: var(--outsidePadding);
  border-top: 1px solid var(--borderColor);
  display: flex;
  justify-content: center;
  align-items: center;
	font-style: italic;
	background: var(--borderColor);
	color: var(--white);
	font-family: var(--headerFont);
}

.footer p {
	letter-spacing: 0.5px;
}

.footer a {
	color: var(--white);
}