.indexgrid {
	width: 100%;
	--cellWidth: 256px;
	--gridGap: var(--outsidePadding);
}

.indexgrid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: var(--gridGap);
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax( var(--cellWidth),  var(--cellWidth)));
	justify-content: center;
}

.indexgrid li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0px;
	line-height: 0;
	transition: 0.5s;
	/* border: 10px solid transparent; */
	border-radius: 2px;
	user-select: none;
}

.indexgrid li:hover {
	transform: rotate(2deg);
	box-shadow: 6px 6px 0 rgba(103,135,141,1);
	/* border-color: var(--white); */
}

