.indexgrid {
	width: 100%;
	--cellWidth: 256px;
	--gridGap: var(--outsidePadding);
}

.indexgrid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: var(--gridGap);
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax( var(--cellWidth),  var(--cellWidth)));
}

.indexgrid li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0px;
	line-height: 0;
	transition: 0.5s;
	border: 10px solid transparent;
	border-radius: 2px;
}

.indexgrid li:hover {
	transform: rotate(3deg);
	border-color: var(--white);
}

