:root {
	--mainFont: "Novela", serif;
	--headerFont: "Geomanist", sans-serif;
	--backgroundColor: rgb(183, 183, 186);
	--linkColor: navy;
	--borderColor:rgb(125, 126, 159);
	--black: #333;
	--white: #eee;
	--headerHeight: 100px;
	--footerHeight: 50px;
	--outsidePadding: 32px;
	--insidePadding: 16px;
}

@font-face {
	font-family: 'Novela';
	src: url('../fonts/novela-bold-webfont.woff2') format('woff2'),
			 url('../fonts/novela-bold-webfont.woff') format('woff'),
			 url('../fonts/novela-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Novela';
	src: url('../fonts/novela-bolditalic-webfont.woff2') format('woff2'),
			 url('../fonts/novela-bolditalic-webfont.woff') format('woff'),
			 url('../fonts/novela-bolditalic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Novela';
	src: url('../fonts/novela-regular-webfont.woff2') format('woff2'),
			 url('../fonts/novela-regular-webfont.woff') format('woff'),
			 url('../fonts/novela-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Novela';
	src: url('../fonts/novela-regularitalic-webfont.woff2') format('woff2'),
			 url('../fonts/novela-regularitalic-webfont.woff') format('woff'),
			 url('../fonts/novela-regularitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
			 url('../fonts/geomanist-regular-webfont.woff') format('woff'),
			 url('../fonts/geomanist-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-regular-italic-webfont.woff2') format('woff2'),
			 url('../fonts/geomanist-regular-italic-webfont.woff') format('woff'),
			 url('../fonts/geomanist-regular-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-medium-webfont.woff2') format('woff2'),
			 url('../fonts/geomanist-medium-webfont.woff') format('woff'),
			 url('../fonts/geomanist-medium-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('../fonts/geomanist-medium-italic-webfont.woff2') format('woff2'),
			 url('../fonts/geomanist-medium-italic-webfont.woff') format('woff'),
			 url('../fonts/geomanist-medium-italic-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--mainFont), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--borderColor);
	color: var(--black);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--headerFont);
}

a { 
	color: var(--linkColor); 
	font-family: var(--headerFont);
	font-weight: bold;
	text-decoration: none;
	transition: 0.25s;
}

a:hover {
	text-decoration: underline;
}

main {
  padding: var(--outsidePadding);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
	background-color: var(--backgroundColor);
}